body {
    font: normal 12pt Arial;
    text-align: center;
    color: white;
}

section {
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.158);
    background: white;
    color: black;
}

#imgDia {
    border-radius: 50%;
}

footer {
    font-style: italic;
}

