/* Folha de Estilo Modelo CSS */
body {
    background-color: rgba(60, 60, 255);
    font: normal 16px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 16px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.808);
}

select#seleNum {
    width: 160px;
}

footer {
    color: white;
    text-align: center;
}